* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #f5f5f5;
  width: 869px;
  height: 655px;
}

.card {
  display: flex;
  width: 869px;
  height: 655px;
  align-items: center;
  margin: 29px 224px 122px;
}

.card1 {
  /* width: 458px; */
  height: 652px;
  background-color: #ffffff;
  border-radius: 35px;
  margin: 143px -8px 116px -39px;
  padding: 10px;
}

.card-img {
  width: 260px;
  height: 260px;
  background: url(.jpg), #c4c4c4;
  border-radius: 110px;
  object-fit: cover;
}

.card2 {
  width: 955px;
  height: 652px;
  background-color: #ffffff;
  border-radius: 35px;
  margin: 140px 22px 114px;
  padding: 52px;
  margin-right: 100px;
}

.card-name {
  width: 363px;
  height: 48px;

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;

  color: #272738;
}

.card-info {
  width: 416px;
  height: 59px;

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 44px;

  color: #272727;
}

.card-contact-phone {
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 380px;
  height: 48px;

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 44px;

  color: #272727;
  word-wrap: nowrap;
}

.card-contact-mail {
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 416px;
  height: 59px;

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 44px;

  color: #272727;
}

.card-title {
  width: 363px;
  height: 48px;

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 49px;

  color: #272727;
  margin-bottom: 72px;
}

.card-content {
  width: 598px;
  height: 365px;

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 49px;

  color: #272727;
}
